@page "/keystore"

<div class="sidebar d-flex min-vh-100 w-100 flex-row">
    <div class="w-100 p-3">
        <h3>Manage Keystore</h3>

        <div>
            <label>Key Name:</label>
            <InputText @bind-Value="KeyName" class="form-control" />
        </div>
        <div>
            <label>Key Value:</label>
            <InputText @bind-Value="KeyValue" class="form-control" />
        </div>
        <div class="mt-2">
            <button class="btn btn-primary" @onclick="SaveKey">Save Key</button>
            <button class="btn btn-danger" @onclick="DeleteKey">Delete Key</button>
        </div>

        <div class="mt-3">
            <h4>Stored Keys</h4>
            <ul>
                @foreach (var key in Keys)
                {
                    <li>@key.Key: @key.Value</li>
                }
            </ul>
        </div>

        <div class="mt-3">
            <h4>OWASP ZAP Settings</h4>
            <div>
                <label>ZAP API Key:</label>
                <InputText @bind-Value="ZapApiKey" class="form-control" />
            </div>
            <div>
                <label>ZAP Base URL:</label>
                <InputText @bind-Value="ZapBaseUrl" class="form-control" />
            </div>
            <div class="mt-2">
                <button class="btn btn-primary" @onclick="SaveZapSettings">Save ZAP Settings</button>
            </div>
        </div>
    </div>
</div>
