@page "/settings"
@using RocketBoy.Models

<EditForm Model="Settings" OnValidSubmit="@SaveSettings">
    <div class="mb-3">
        <label for="RequestsSaveLocation" class="form-label">Requests Save Location</label>
        <InputText id="RequestsSaveLocation" class="form-control" @bind-Value="Settings.RequestsSaveLocation" />
    </div>

    <div class="mb-3">
        <label for="CollectionsSaveLocation" class="form-label">Collections Save Location</label>
        <InputText id="CollectionsSaveLocation" class="form-control" @bind-Value="Settings.CollectionsSaveLocation" />
    </div>

    <div class="form-check mb-3">
        <InputCheckbox id="ShowDefaultHeaders" class="form-check-input" @bind-Value="Settings.ShowDefaultHeaders" />
        <label for="ShowDefaultHeaders" class="form-check-label">Show Default Headers</label>
    </div>

    <div class="mb-3">
        <label for="DefaultVirtualUsers" class="form-label">Default Virtual Users</label>
        <InputNumber id="DefaultVirtualUsers" class="form-control" @bind-Value="Settings.DefaultVirtualUsers" />
    </div>

    <div class="mb-3">
        <label for="DefaultLoadTestDuration" class="form-label">Default Load Test Duration</label>
        <InputText id="DefaultLoadTestDuration" class="form-control" @bind-Value="Settings.DefaultLoadTestDuration" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>